body {
    background: #fafafa;
    overflow-x: hidden;
}


article {
    width: 300px;
    margin: 80px auto;
    text-align: center;
}

section {
    width: 100%;
}

#home-article {
    width: 80%;
}

#profile-gallery-article {
    margin: 2em auto;
    width: 80%;

}

#uploadArticle {
    width: 80%;
    margin: 0 auto;
}

#profile-section, #home-section {
    margin-left: 16em;
    width: 100%;

}


#profile-article {
    width: 90%;
    margin-top: 0px;
    overflow-x: hidden;
}

#profile-header {
    width: 80%;
    height: 30em;
    overflow: hidden;
    margin-top: -5em;

}

#main-top {
    position: fixed;
    display: inline-block;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    width: 100%;
    background: #575757;
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
    box-shadow: 0 2px 8px #c2c2c2;
    z-index:999;
}

#sign-in, #sign-up {
    margin-top: 110px;
    margin-bottom: 20px;
}

form h2 {
    margin-bottom: 30px;
}

input[type=text], input[type=password] {
    text-align: center;
}

#searchBar {
    margin: 8px auto;
    width: 40%;
    height: 44px;
    background: rgba(240,240,240, .25);
    border-color: #575757;
    color: #ffffff;
    text-align: left;
    padding-left: 2em;
}

#searchBar::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #eeeeee;
}
#searchBar::-moz-placeholder { /* Firefox 19+ */
    color: #eeeeee;
}
#searchBar:-ms-input-placeholder { /* IE 10+ */
    color: #eeeeee;
}
#searchBar:-moz-placeholder { /* Firefox 18- */
    color: #eeeeee;
}

#logo {
    position: absolute;
    top: -1px;
    left: 0px;
}

.alert {
    display: block;
    position: absolute;
    top: 70px;
    right: -3px;
    width: 15%;
}

#homeNav {
    position: fixed;
    top: 90px;
    left: 0;
    width: 14em;
}

#homeNav ul {
    width: 100%;
}

#homeNav ul li {
    list-style: none;
    width: 100%;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 4em;
    margin-left: -4em;
}

#homeNav ul li:hover {
    background: rgba(50,50,50, .1);
}

#homeNav ul li a {
    color: #8a8a8a;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 8em;
}

#homeNav ul hr {
    margin-left: -2.8em;
    border-color: rgba(20,20,20, .1);
    border-style: inset;

}

#homeNav ul li a:hover {
    color: #09a0f6;
}

#homeNav ul li i {
    font-size: 2em;
    width: 2em;
}

.smallLeft {

}

.smallRight {
    margin-left: 3px;
}

.thumb-image {
    width: 14em;
    height: auto;
    overflow: hidden;
}

#main-gallery {
    width: 100%;
    margin-left: -7.5em;
}

#main-gallery li {
    list-style: none;
    float: left;
    margin: 1em;
    height: 13.5em;
    box-shadow: 0 3px 6px rgba(50,50,50, .2);
    overflow: visible;

}

#main-gallery li p {
    width: 13.5em;
    height: 5em;
    background: #ffffff;
    margin-top: -2.7em;
    text-align: left;
    padding-top: .5em;
    padding-left: .5em;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}


.custom-file-upload:hover {
    background: #ccc;
    color: #fff;
}

#imageUpload {
    text-align: center;
    height: 400px;
    width: auto;
}

#comments {
    width: 20em;
}

#userInfo {
    color: #ffffff;
}

#logout {

}

#prof-container {
    display: block;
    position: absolute;
    top: 10px;
    right: -2em;
    width: 12%;
}


header div span img {
    width: 2.5em;
    height: 2.5em;
    margin-bottom: 0px;
    border-radius: 35px;
    border: 2px solid #ffffff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content p, .dropdown-content a {
    margin-right: 1em;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    background-color: rgba(0,0,0, .6);
    min-width: 12em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-left: 1px solid #575757;
    border-bottom: 1px solid #575757;
    padding: 8px 16px;
    z-index: 1;
    text-align: right;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#profile-image {
    width: 100%;

}

#profile-img-box {
    display: block;
    float: left;
    margin-bottom: 2px;
    border-radius: 35px;
    border: 2px solid #ffffff;
    width: 6em;
    height: 6em;
    overflow: hidden;
    margin-right: 10px;

}

#user-info {
    position: relative;
    top: 23em;
    left: 1em;
    float: left;
    clear: both;
    z-index: 9999;
    width: auto;
    display: inline-block;
    text-align: left;
}

#user-info h2 {
    float: left;
    margin-bottom: 0px;
}

#wallpaper-image {
    width: 100%;
    height: auto;
    min-height: 40em;
    float: left;
    clear: both;
    margin-top: -6.5em;

}