@(user: User, following: List[Following])



@homeTemplate(user, "Following") {

    <section >
        <article class="follow-section">
            <h2 class="left">Following</h2>
                @for(followingUser <- user.following) {
                    <table class="userList">
                        <tbody>
                    <tr>

                        <td class="profile-image" rowspan="2"><img src="@routes.ImageController.getFullImage(followingUser.user.getProfile_image)"></td>
                        <td class="blocktd titletd">
                            <a href="@routes.Application.getProfile(followingUser.username)">@followingUser.username</a>
                            <button id="@followingUser.username" type="button" class="followButton">Unfollow</button>
                        </td>
                    </tr>

                    <tr>
                        <td class="blocktd imagetd">

                            <ul>
                                @if(followingUser.user.imageSlide.length < 1) {
                                    <li class="slide-placeholder"></li>
                                }
                                @for(image <- followingUser.user.imageSlide) {
                                    <li>
                                        <span>

                                            <img class="mini-slide-img" src="@routes.ImageController.getThumbImage(image.thumb_image)">

                                        </span>
                                    </li>
                                }
                            </ul>

                        </td>

                    </tr>

                </tbody>
            </table>
                }
        </article>
    </section>



}