@(user: User, image: List[Image])



@homeTemplate(user, "User Home") {


    <section id="home-section">


        <article id="home-article">

            <h2>Recent Activity</h2>

            <ul id="main-gallery">
            @for(image <- image) {

                <li class="following-box galleryli">
                    <table class="">
                        <tr class="top"><td> <div id="following-image-box"> <img class="following-profile-image" src="@routes.ImageController.getFullImage(user.getProfile_image)"> </div><div class="user-title">@user.username</div></td></tr>
                        <tr class="middle"><td><a class="full-following-image" href="@routes.ImageController.getFullImage(image.full_image)" data-lightbox="image-1">
                            <img class="thumb-image" src="@routes.ImageController.getThumbImage(image.thumb_image)" alt="Time">
                        </a></td></tr>
                            <tr class="bottom"><td><div class="home-album-name">Uploaded: </div></td></tr>

                    </table>
                </li>

            }

                @for(following <- user.following) {
                    @for(image <- following.images) {
                        <li class="following-box galleryli">
                            <table>
                                <tr class="top"><td> <div id="following-image-box"> <img class="following-profile-image" src="@routes.ImageController.getFullImage(following.user.getProfile_image)"> </div><div class="user-title">@following.username</div></td></tr>
                                <tr class="middle"><td><a class="full-following-image" href="@routes.ImageController.getFullImage(image.full_image)" data-lightbox="image-1">
                                    <img class="thumb-image" src="@routes.ImageController.getThumbImage(image.thumb_image)" alt="Time">
                                </a></td></tr>
                                <tr class="bottom"><td><p class="home-album-name">Uploaded: </p></td></tr>

                            </table>

                        }
                    </li>
                }
            </ul>

        </article>

    </section>




}