@(user: User, title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>@title</title>
    <link rel="stylesheet" type="text/css"  media="screen" href="@routes.Assets.versioned("stylesheets/dist/siimple.css")">
    <link rel="stylesheet" type="text/css"  media="screen" href="@routes.Assets.versioned("stylesheets/css/font-awesome.css")">
    <link rel="stylesheet" type="text/css"  media="screen" href="@routes.Assets.versioned("stylesheets/dist/css/lightbox.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <script src="@routes.Assets.versioned("stylesheets/dist/js/lightbox-plus-jquery.js")"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="@routes.Assets.versioned("javascripts/main.js")"></script>

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

  </head>
  <body>
    <header id="main-top">
        <div id="img-box">
            <img src="@routes.Assets.versioned("images/unsocialLogo.png")" id="logo" >
        </div>

      <form action="@routes.Application.search" method="post">
          <input type="text" id="searchBar" class="form-input" name="search" placeholder="Search..." />
      </form>




      <div id="prof-container" class="dropdown">
        <span><img src="@routes.ImageController.getThumbImage(user.getProfile_image)" ></span>
        <div class="dropdown-content">
          <p id="userInfo">Logged in as: @user.getUsername</p><br>
          <a href="@routes.Login.logout()" id="logout" >Logout</a>
        </div>

      </div>
    </header>

    <nav id="homeNav">
      <ul>
        <li><a href="@routes.Application.home()"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
        <li><a href="@routes.Application.profileHome()"> <i class="fa fa-user smallRight" aria-hidden="true"></i><span class="smallLeft">Profile</span></a></li>
        <li><a href="@routes.Application.following()"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Following</a></li>
        <li><a href="@routes.Application.followers()"><i class="fa fa-user-circle" aria-hidden="true"></i> Followers</a></li>
        <li><a href="@routes.Application.upload()"><i class="fa fa-upload smallerRight" aria-hidden="true"></i> Upload</a></li>
        <li>
          <a href="@routes.Application.notifications()">
            <i class="fa fa-bell" aria-hidden="true"></i>Notifications

            @if(user.newNotifications.length > 0) {

              <span id="notifications">@user.newNotifications.length</span>

            }

          </a>
        </li>
      <!--
        <hr>
        <li><a href="routes.Application.notifications()"><i class="fa fa-gear smallRight" aria-hidden="true"></i>Settings</a></li>
      -->
      </ul>
    </nav>


    @content
  </body>
</html>
