@(user: User)



@homeTemplate(user, "Upload") {

    <section>
        <article id="uploadArticle">



            <form action="@routes.ImageController.imageUpload" method="post" enctype="multipart/form-data">

                <label id="uploadLabel" class="custom-file-upload">
                    <input type="file" multiple="multiple" name="files[]" id="files"/>
                    <i class="fa fa-cloud-upload"></i> Select Image(s)
                </label>
                <label id ="album-select">
                    Choose Album:
                    <select name="albums">
                        @for(albums <- user.albums) {

                            <option value="@albums.id">@albums.name</option>

                        }

                        <option value="00100110101">- none -</option>

                    </select>

                </label>

                <input type="text"  placeholder="Create New Album..." class="form-input" id="new-album" name="album">

                <br>

                <input type="text"  placeholder="Album description..." class="form-input" id="comments" name="description">

                <input type="submit" class="form-input" value="Upload" id="uploadButton">


                <div id="upload-box-outside">
                    <p id="upload-box-inside">Select Images Above / Drop Images Here</p>
                    <output id="list"></output>
                </div>


            </form>



        </article>


    </section>




}