@(id: Integer, userForm: Form[User])





@main("Edit User") {

    <article id="edit">

    <h1>Edit User</h1>

        <form id="edit-form" action="@routes.Application.updateUser(id)" method="post">
            <input type="text" class="form-input" name="name" placeholder="Name" /><br>
            <input type="text" class="form-input" name="email" placeholder="Email" /><br>
            <input type="text" class="form-input" name="username" placeholder="Username" /><br>
            <input type="text" class="form-input" name="password" placeholder="Password" /><br>
            <input type="submit" class="form-input" value="Submit!">

        </form>

    </article>


}